#blog-section {
    border: 2px solid black; /* 2px border, solid style, black color */
    padding: 15px; 
    margin: 10px; /* Optional: Add margin around the section */
    width: 95%; /* Optional: Set a width for the section */
}
#image-section {
   
    padding: 10px; 
    margin: 10px; /* Optional: Add margin around the section */
    width: 90%; /* Optional: Set a width for the section */
}

#list-section {
   
    padding: 10px; 
    margin: 10px; /* Optional: Add margin around the section */
    width: 90%; /* Optional: Set a width for the section */
}

#table{
    
    padding-left: 15px;
    margin-left: 0;
}